<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <title>测试 thymeleaf</title>
</head>
<body>
<!--<div>
    111111111111111
    用户名：<span th:text="${user1.name}"></span>
    年龄：<span th:text="${user1.age}"></span>

    <br/>

    <div>
        <p>aa11111111111111</p>
        if：<span th:if="(${user1.age} gt 12)">大于12岁</span>
        <a th:href="@{http://www.baidu.com}">baidu</a>
    </div>-->



</div>
</body>
</html>